<as-split class="main-view" unit="percent" [restrictMove]="false" [gutterSize]="15">
    <as-split-area [size]="16" [minSize]="5" [maxSize]="30">
        <p>Tree view</p>
    </as-split-area>
    <as-split-area [size]="42" [minSize]="25" [maxSize]="75">
        <ngs-code-editor [codeModel]="(codeModel$ | async)!"></ngs-code-editor>
    </as-split-area>
    <as-split-area [size]="42" [minSize]="20" [maxSize]="45">
        <pdf-viewer [src]="getPdf()" [render-text]="true" [original-size]="false" [autoresize]="true" style="width: 100%; height: 100%">
        </pdf-viewer>
    </as-split-area>
</as-split>