<div class="full-height child-node accent" *ngIf="filePaths$ | async as nodes">
    <mat-list>
        <div *ngFor="let node of nodes">
            <ng-container *ngTemplateOutlet="nestedNode; context: node"></ng-container>
        </div>
    </mat-list>
</div>

<ng-template #nestedNode let-name="name" let-children="children">
    <mat-list-item>
        <mat-icon *ngIf="children.length !== 0" matListItemIcon>folder</mat-icon>
        <span matListItemTitle>{{' '}}{{name}}</span>
    </mat-list-item>
    <div *ngFor="let child of children" class="child-node">
        <ng-container *ngTemplateOutlet="nestedNode; context: child"></ng-container>
    </div>
</ng-template>