<h1 mat-dialog-title>Variable Templates</h1>
<div mat-dialog-content>
    <div *ngIf="!(selectedOption$ | async); else showSection">
        <div *ngFor="let section of sections" (click)="openSection(section)">
            <button mat-button class="option">
                {{ section }}
            </button>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button *ngIf="!(selectedOption$ | async); else showBackButton" mat-button [mat-dialog-close]="null">Cancel</button>
</div>

<ng-template #showSection>
    <div [ngSwitch]="selectedOption$ | async">
        <div *ngSwitchCase="JsonMapping.Prebuilt">
            <app-prebuilt-alphabet (toInsertEmitter)="closeDialog($event)"></app-prebuilt-alphabet>
        </div>
        <div *ngSwitchCase="JsonMapping.Greek">
            <app-greek-alphabet (toInsertEmitter)="closeDialog($event)"></app-greek-alphabet>
        </div>
        <div *ngSwitchDefault>
            <app-alphabet [fileName]="(selectedOptionString$ | async) || ''" (insertStringEmitter)="closeDialog($event)"></app-alphabet>
        </div>
    </div>
</ng-template>

<ng-template #showBackButton>
    <button mat-button (click)="resetSelection()">Back</button>
</ng-template>