<h1 mat-dialog-title>New Workspace</h1>
<div mat-dialog-content>
    To create a new workspace, enter the name in the field below:
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label color="accent">Workspace Name</mat-label>
            <input matInput formControlName="workspaceName" placeholder="Ex. Dissertation">
            <mat-error *ngIf="workspaceName.hasError('required')">Please enter a workspace name</mat-error>
            <mat-error *ngIf="workspaceName.hasError('maxlength')">Workspace name must not exceed 30 characters</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Close</button>
    <button mat-button type="submit" (click)="createWorkspace()">Create</button>
</div>