<h1 mat-dialog-title>Help</h1>
<div mat-dialog-content>
    <h2>
        What is this?
    </h2>
    This is a LaTeX editor written in Typescript that makes use of both Angular & Electron frameworks to create a desktop application for editing LaTeX documents.
    <h2>
        What is LaTeX?
    </h2>
    LaTeX is a document preparation system used for creating documents, such as scientific papers, academic reports, and books. It was developed in the 1980s by Leslie Lamport and is based on the TeX typesetting system created by Donald Knuth.
    <h2>
        How do I Get Started?
    </h2>
    You can start by taking a look at any of the included templates. Alternatively, you could read a LaTeX guide such as <a href="https://www.overleaf.com/learn/latex/Learn_LaTeX_in_30_minutes">this</a> to learn the basics.
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Close</button>
</div>